<h1 class='text-center'>Post details</h1>

<br>
<p>
	<%= @post.content %>
	<br><br>
	Added by <b><%= @post.author %></b> at <%= @post.created_at %>
</p>


<br>
<h4>Comments:</h4>
<br>

<!-- Форма для того чтобы оставить комментарии к посту -->
<form action="/details/<%= @post.id %>" method="POST">
	<textarea name="content" rows="6" placeholder="Напишите ваш комментарий"></textarea>
	<br>
 	<button type="submit">Add comment</button>
</form>


<!-- Уже написанные комментарии из запроса выбравшего комментарии для конкретного поста -->
<% @comments.each do |comment| %>
	<p>
		<%= comment.content %>
		<br><br>
		<span style="font-size: 80%; color: #999;">Added at <%= comment.created_at %></span>
	</p>
	<hr>
<% end %>

