<h2>Latest Posts</h2>
<br>

<!-- Данные из каждого поста -->
<% @posts.each do |post| %>
	<p>
		<h4>Post №<%= post.id %></h4> <!-- Выводим номер поста -->
		<%= post.content %> <!-- Выводим сам пост -->
		<br><br>
		Added by <b><%= post.author %></b> at <%= post.created_at %> <!-- Выводим автора и дату поста -->
		<br><br>

		<!--                 Создаем ссылку и соотв адрес страницы для универсального обработчика -->
		<a href="/details/<%= post.id %>">Comments</a> 
	</p>
	<hr>
<% end %>